@charset "UTF-8";

.EntryPanel {
  display: flex;
  &__main {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
  }
  &__head {
    font-size: 18px;
  }
  &__foot {
    margin-top: 10px;
    text-align: right;
  }
  &__sub {
    flex: 1 1 45%;
    margin-right: $space-unit;
    @include mq-sp {
      margin-right: $sp-space-unit;
    }
  }
  &__thumb {
    width: 100%;
    height: auto;
  }
}