@charset "UTF-8";

.sectionLabel {
  padding-top: $space-unit;
  padding-bottom: $space-unit;
  color: $color-main-text;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  &::before,
  &::after {
    content: "";
    flex: 1 0 10%;
    border-bottom: 1px solid $color-main-text;
    height: 0;
  }
  &::before {
    margin-right: 20px;
  }
  &::after {
    margin-left: 20px;
  }
}