@charset "UTF-8";

.sectionLabel {
  width: 100%;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  &::before,
  &::after {
    content: "";
    flex: 1 0 10%;
    border: 1px solid $color-black;
    height: 0;
    margin-top: 10px;
  }
  &::before {
    margin-right: 20px;
  }
  &::after {
    margin-left: 20px;
  }
}