@charset "UTF-8";

.l-column {
  width: $base-content-width;
  margin: 0 auto;
  @include mq-sp {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.l-row {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  @include mq-sp {
    display: block;
  }
}

.l-halfColumn {
  flex: 1 0 0%;
  max-width: ($base-content-width - $space-unit)/2;
  margin-right: $space-unit;
  @include mq-sp {
    margin-right: 0;
  }
  &:nth-child(even) {
    margin-right: 0;
  }
  &:nth-child(even) {
    @include mq-sp {
      margin-bottom: 0;
    }
  }
}
.l-quaterColumn {
  max-width: ($base-content-width - $space-unit*3)/4;
  display: flex;
  flex-direction: column;
  @include mq-sp {
    max-width: 45%;
    margin-bottom: 20px;
  }
}
.l-halfTile {
  display: flex;
  flex: 1 1 50%;
  margin: 0;
  padding: 0;
}

.l-fitImage {
  max-width: 100%;
  max-height: 100%;
}