@charset "UTF-8";

.EntryPanel {
  display: flex;
  &__main {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__sub {
    flex: 1 1 45%;
    margin-right: 20px;
  }
  &__thumb {
    width: 100%;
    height: auto;
  }
}