@charset "UTF-8";

.Footer {
  display: flex;
  justify-content: flex-end;
  padding: $space-unit*2;
  background-color: $color-black;
  &__head {
    margin-right: auto;
  }
  &__foot {
    display: flex;
  }
}