@charset "UTF-8";

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: $space-unit 0;
  background-color: $color-black;
  color: $color-link;
  &__head {
  }

  &__foot {
    display: flex;
  }
  a:hover {
    color: #fff;
  }
}