@charset "UTF-8";

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: $space-unit*2 0 $space-unit;
  background-color: $color-black;
  color: $color-link;
  &__head {
    flex: 2 1 50%;
  }
  &__head,
  &__body {
    padding-right: $space-unit;
  }
  &__body,
  &__foot {
    flex: 1 1 25%;
  }
  a:hover {
    color: #fff;
  }
}