@charset "UTF-8";

.ImageSlide {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  &__main {
    display: flex;
    flex-wrap: nowrap;
  }
  &__item {
    flex: 0 0 80%;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__sub {
    position: absolute;
    bottom: 20px;
    display: flex;
  }
  &__dot {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid $color-black;
    border-radius: 10px;
    &:last-child {
      margin-right: 0;
    }
    &.isActive,
    &:hover {
      background-color: $color-black;
    }
  }
}