@charset "UTF-8";

.ImageSlide {
  position: relative;
  display: flex;
  /*overflow: hidden;*/
  align-items: center;
  flex-direction: column;
  &__main {
    display: flex;
    /*flex-wrap: nowrap;*/
  }
  &__item {
    /*flex: 0 0 80%;*/
  }
  &__image {
    /*width: 100%;
    height: auto;*/
  }
  &__sub {
    position: absolute;
    bottom: 20px;
  }
}