@charset "UTF-8";

.NewsList {
  display: table;
  @include mq-sp {
    padding-right: $sp-space-unit;
    padding-left: $sp-space-unit;
  }
  &__item {
    display: table-row;
  }
  &__head,
  &__body {
    display: table-cell;
    padding-bottom: $space-unit/2;
  }
  &__head {
    padding-right: $space-unit;
    @include mq-sp {
      padding-right: $sp-space-unit;
    }
  }
}