@charset "UTF-8";

@import "./lib/sanitize";

:root, html, body {
  background-color: $color-base;
  color: $color-main-text;
  width: 100%;
}
* {
  box-sizing: border-box;
}

li {
  list-style-type: none; // item marker
}

a {
  color: $color-link;
}
a:hover {
  text-decoration: none;
  color: $color-link;
}