@charset "UTF-8";

@import "./base/variables";
@import "./base/reset";
@import "./base/lib/sanitize";
@import "./base/lib/fa/font-awesome";

// parts
@import "./components/parts/entryPanel";
@import "./components/parts/labels";
@import "./components/parts/button";
@import "./components/parts/layouts";

// common
@import "./components/common/header";
@import "./components/common/menu";
@import "./components/common/section";
@import "./components/common/footer";

@import "./components/imageSlide";
@import "./components/overlayPanel";
@import "./components/iconPanel";
@import "./components/newsList";

// page
@import "./pages/indexPage";